

body {
    font-family: Arial, sans-serif;
    /* background-color: rgb(112, 41, 99); Semi-transparent black light purple*/
    background-color: rgb(48, 25, 52);/*dark purple*/
    color: rgb(255, 240, 102); /* Gold color */
    margin: 0;
    padding: 0;
}


.body-background {
    background-image: url('pics/background.jpg');
    background-size: cover; /* Ensures the background image covers the entire body */
    background-position: center; /* Centers the background image */
    opacity: 1.8;
}

header h1 {
    font-family: 'Baskervville SC', serif;
    font-size: 50px;
}

h2{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

p{
    font-family: "Josefin Sans", sans-serif;
    font-size: 19px;
    line-height: 1.5;
    word-spacing: 0.01em; /* Increased word spacing */
    color: gold; /* Semi-transparent black */
    text-align: justify;

}

ul {
    font-family: "Josefin Sans", sans-serif;
    font-size: medium;
    list-style-type: disc;
    text-align: justify;
    line-height: 1.5;
    word-spacing: 0.01em;
}
li { 
    margin-bottom: 10px; /* Add space after each list item */
}

strong {
    font-weight: bold;
  }
  

header {
    background-color: transparent; /* Semi-transparent gold */
    color: gold; /* Semi-transparent black */
    padding: 20px;
    text-align: center;
}

nav {
    background-color: transparent; /* Transparent black */
    padding: 10px 0;
}

nav ul {
    list-style:disc;
    display: inline-block;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    white-space: nowrap; 
    /* font-size: 1.1vw; */
}

nav ul li {
    margin: 0 15px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

nav ul li a {
    font-size:19px;
    color: gold;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Transition color with a duration of 0.3 seconds */
    cursor: pointer; /* Default cursor */
    /* font-size: 1.1vw; */
}

nav ul li a:hover {
    color: #888; /* Grey color */
    cursor: pointer; /* Pointer cursor on hover */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color:transparent; /* Transparent black */
}

section {
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.3); /* Transparent black */
    color: gold;
    padding: 20px;
    border: 1px solid gold;
    border-radius: 10px;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.gallery-section {
    flex: 1 1 calc(25% - 10px); /* Adjust the width of each section */
    text-align: center;
    background-color:transparent; /* Transparent black */
    border: 1px solid gold;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.gallery-section h3 {
    margin-bottom: 10px;
}

.gallery-section img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}


#contact {
    margin-top: 40px;
}

footer {
    font-size: 20px;
    background-color: rgba(255, 215, 0, 0.5); /* Semi-transparent gold */
    color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    text-align: center;
    padding: 10px;
}
iframe{
  padding-top: 20px;
}
a{
    font-family: monospace;
    font-size: 15px;
    color: rgb(223, 137, 32);
    inline-size: auto;  
}
#playTesting a{
    font-size: 20px;
    margin-right: 20px;
}

#flowchart img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;
    margin: auto ;
}
.CLICK {
    font-family: "Josefin Sans", sans-serif;
    font-size: 13px;
    color: rgb(255, 240, 102); /* Gold color */
    text-align: center;
    margin-top: 10px;
    text-decoration:wavy; /* Add underline */
}
.FindFlowchartBelow{
text-align: center;
}
#flowchart h2 {
    text-align: center;
}
.team-members {
    list-style-type: none;
    padding: 0;
}

.team-members li {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Darker transparent black */
    border: 1px solid gold;
    border-radius: 10px;
}

.team-members li h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.team-members li p {
    font-size: 16px;
    line-height: 1.5;
}


.production-sections, .safe-house-sections, .weapon-sections, .game-piecies{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.production-section, .safe-house-section, .weapon-section, .game-piece {
    border: 2px solid #e0c45c;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);  /* Transparent black */
    padding: 20px;
    width: 22%;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.production-section img, .safe-house-section img, .weapon-section img, .game-piece img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.production-sectionh3, .safe-house-section h3, .weapon-section h3, .game-piece h3  {
    margin-top: 10px;
    font-size: 1.2em;
    color: #e0c45c;
}

.production-section p, .safe-house-section p, .weapon-section p, .game-piece p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1em;
    color: lightgoldenrodyellow;
    line-height: 1.25;
    word-spacing: 0;
    letter-spacing: 0;
    word-break: normal; /* Prevents words from breaking */
    white-space: normal; /* Ensures normal spacing */
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .production-section, .safe-house-section, .weapon-section, .game-piece {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .production-section, .safe-house-section, .weapon-section, .game-piece {
        width: 90%;
    }
}
#gallery h2{
    text-align: center;
}
.gallery-head{
    font-size: 35px;
}
.gallery-head-p{
text-align: center;
font-size: larger;
}
.download-button, .download-button-Board {
    background-color:rgba(0, 0, 0, 0.2);
    border: none;
    color: gold;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}








.board-visuals {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.board-visual {
    border: 2px solid #e0c45c;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);  /* Transparent black */
    padding: 20px;
    width: auto;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.board-visual img {
    width: 700px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.board-visual h3  {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
    color: #e0c45c;
}

.board-visual p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.3em;
    color: lightgoldenrodyellow;
    line-height: 1.25;
    word-spacing: 0;
    letter-spacing: 0;
    word-break: normal; /* Prevents words from breaking */
    white-space: normal; /* Ensures normal spacing */
    text-align: center;
}

#gameboard h2{
    text-align: center;
}

.video{
    justify-content: center;
}
.gold-border {
    border: 5px solid sandybrown;
    box-sizing: border-box; /* Ensure border is included in the element's total width and height */
}


